@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: block;
    background-color: #FAF8F5;
    overflow-x: hidden;
}

h1, h2, h3, p, a {
    font-family: "Satoshi", sans-serif;
    font-style: normal;
}

section {
    display: flex;
    justify-content: center;
}

span {
    color: #712FFF;
}

.btn-store {
    display: inline-block;
    border: 0.5px solid #000;
    background-color: #fff;
}

@media screen and (min-width: 375px) {
    .desktop {
        display: none;
    }

    .page-wrapper {
        margin-left: -6px;
        
    }
    
    /* HEADER */
    header {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        background-color: #FAF8F5;
        z-index: 100;
    }

    .topbar {
        width: 90%;
        height: 44px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        left: 80px;
        top: 18px;
    }

    .header-content {
        display: flex;
        align-items: center;
    }

    .logo-cadena {
        display: block;
        width: 125px;
        height: 30px;
        border-radius: 0px;
        margin: 0 2px;
    }

    .menu-hamburger {
        display: block;
        float: right;
        margin: 0 2px;
    }

    /* HERO */
    
    .container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 20px;
        align-items: center;
        background-color: transparent
    }

    .hero-content-wrapper {
        margin-top: 64px;
        margin-left: -58px;
        background-color: transparent;
    }
    
    /* CONTENT */

    .hero-badge-group {
        display: table;
        border-radius: 16px;
        background-color: #F9F5FF;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        color: #6941C6;
    }

    .hero-badge-title {
        display: block;
        float: left;
        margin: 4px;
        padding: 2px 10px;
        border-radius: 16px;
        background-color: #ffffff;
    }

    .hero-badge-content {
        display: flex;
        align-items: center;
        padding: 6px 12px;
        background-color: transparent;
    }

    .hero-badge-content img {
        width: 9px;
        height: 9px;
        margin-left: 8px;
    }

    .hero-badge-headding-mobile {
        display: block;
        font-size: 20px;
        font-weight: 700;
        margin: 12px 0px;
        background-color: transparent;
    }

    .hero-heading-body-mobile {
        display: block;
        font-weight: 400;
        font-size: 15px;
        line-height: 27px;
        color: #383A47;
    }

    .buttons-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
    }

    .btn-store {
        width: 142px;
        height: 50px;
        border-radius: 10px;
    }

    .btn-app img{
        width: 107px;
        height: 26px;
    }

    .btn-play img{
        width: 118px;
        height: 24px;
    }
    

    /* IMAGES */

    .hero-images-wrapper {
        margin-top: 70px;
        background-color: transparent;
    }


    /* VISA BOARD */

    .visa-wrapper {
        display: table;
        float: right;
        margin-right: 35px;
        margin-bottom: 12px;
    }

    .visa-content {
        display: flex;
        width: 190px;
        height: 44px;
        align-items: center;
        justify-content: space-around;
        border-radius: 11px;
        background-color: #fff;
    }

    .visa-card-image {
        display: flex;
        flex-direction: column;
    }

    .visa-card-image img{
        width: 16px;
        height: 10px;
    }

    .visa-card-content {
        display: flex;
        flex-direction: column;
        margin-left: -35px;
    }

    .visa-name {
        font-size: 7px;
        font-weight: 700;
    }

    .visa-master {
        font-size: 6px;
        font-weight: 400;
        color: #797B89;
    }

    .visa-balance {
        display: block;
        font-size: 8px;
    }

    .icon-v-visa {
        display: flex;
        width: 10px;
        height: 10px;
        padding: 3px 3px;
        margin-top: -6px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        background-color: #712FFF;
    }

    .icon-v-visa img {
        width: 4px;
        height: 3px;
    }

    /* SPLIT CARD */
    .split-card {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        float: right;
        margin-top: 145px;
    }

    /* CARD */

    .card-image-wrapper {
        display: flex;
        width: 174px;
        flex-direction: column;
        margin-top: -140px;
        margin-right: -185px;
        background-color: transparent;
    }

    .icon-v-wrapprer {
        display: flex;
        position: relative;
        align-self: flex-end;
    }
    
    .icon-v-lg {
        display: flex;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
        margin-bottom: -15px;
        border-radius: 50%;
        background-color: #712FFF;
    }

    .icon-v-sm {
        display: flex;
        width: 19px;
        height: 19px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid #FFF;
        background-color: #712FFF;
    }

    .icon-v-sm img {
        width: 6px;
        height: 5px;
    }

    .card-card {
        display: block;
    }

    .card-card img {
        width: 160px;
        height: 100px;
    }

    /* SPLIT */

    .split-wrapper {
        display: block;
        width: 300px;
        height: 195px;
        margin-top: -85px;
        margin-left: 35px;
        margin-right: 20px;
        border-radius: 16px;
        background-color: #fff;
        z-index: -5;
    }

    .split-content {
        display: block;
        width: 138px;
        height: 169px;
        margin-top: 7px;
        float: right;
        margin-right: 17px;
        position: relative;
    }

    .split-heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .split-heading p {
        font-size: 8px;
        font-weight: 700;
        line-height: 11px;
        margin-bottom: 6px;
    }

    .rectangle {
        display: block;
        height: 3px;
        border-radius: 5px;
        background-color: #E5E7EB;
    }

    .rec-sm {
        width: 21px;
        margin-top: 3px;
    }

    .rec-md {
        width: 26px;
        margin-top: 3px;
    }

    .rec-lg {
        width: 44px;
        margin-left: 6px;
    }

    .rec-xl {
        width: 58px;
    }
    
    .avatars-wrapper-horizontal {
        display: flex;
        margin-top: 10px;
    }

    .avatar-container-horizontal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 12px;
    }

    .avatar-horizontal {
        display: flex;
    }

    .avatar-horizontal img{
        width: 15px;
        height: 15px;
    }

    .avatar-icon-x {
        display: flex;
        width: 6px;
        height: 6px;
        align-items: center;
        justify-content: center;
        margin-top: -3px;
        margin-left: -5px;
        background-color: #712FFF;
        border: 0.5px solid #fff;
        border-radius: 50%;
    }

    .avatar-icon-x img {
        width: 3px;
        height: 3px;
    }

    .avatar-vector {
        display: flex;
        margin-top: -20px;
        margin-left: -12px;
    }

    .avatar-vector-1 {
        margin-top: 4px;
    }

    .avatar-vector-1 img {
        width: 1.24px;
        height: 8.7px;
    }

    .avatar-vector-2 {
        margin-top: 5px;
    }

    .avatar-vector-2 img {
        width: 4.35px;
        height: 8.39px;
    }

    .avatar-vector-3 {
        margin-top: 8px;
        margin-left: -3px;
    }

    .avatar-vector-3 img {
        width: 8.39px;
        height: 8.7px;
    }

    .frequents {
        display: block;
        margin-top: 11px;
        margin-bottom: 2px;
        font-size: 5px;
        font-weight: 500;
    }

    .avatars-wrapper-vertical {
        display: flex;
        flex-direction: column;
        margin-right: 17px;
        border: 0.5px solid #E5E7EB;
        border-radius: 11px;

    }

    .avatar-vertical {
        display: flex;
        align-items: center;
        margin-top: 6px;
    }

    .avatar-vertical img {
        width: 14px;
        height: 14px;
    }

    .avatar-icon-v {
        display: flex;
        width: 6px;
        height: 6px;
        margin: 6px;
        padding-top: 1.2px;
        padding-left: 1.4px;
        background-color: #712FFF;
        border-radius: 50%;
    }

    .avatar-icon-v > img {
        display: flex;
        width: 3px;
        height: 3px;
    }

    .avatar-icon-null {
        display: flex;
        width: 6px;
        height: 6px;
        margin: 6px;
        padding-top: 0.9px;
        padding-left: 1px;
        background-color: #D1D5DB;
        border-radius: 50%;
    }

    /* SPOTIFY */

    .spotify-board {
        display: flex;
        position: relative;
        float: right;
        margin-top: -79px;
        height: 25px;
        align-items: center;
        background-color: #1C1B4E;
        box-shadow: 0px 1.68243px 2.24324px rgba(229, 231, 235, 0.4);
        border-radius: 6px;
    }

    .spotify-left {
        display: flex;
        align-items: center;
        margin-left: 6px;
    }

    .spotify-left img {
        width: 12px;
        height: 12px;
    }

    .spotify-left p {
        margin-left: 4px;
        font-size: 5px;
        font-weight: 500;
        line-height: 7.55px;
        color: #FFF;
    }

    .spotify-right {
        display: block;
        margin-left: 28px;
        margin-right: 6px;
    }

    .spotify-right p {
        font-size: 5px;
        font-weight: 700;
        color: #FFF;
    }

    /* SPLIT VECTOR */

    .split-vector {
        display: block;
        float: right;
        margin-right: 15px;
        margin-top: -15px;
    }

    .split-vector img {
        width: 14px;
        height: 22px;
    }

    /* PAYMENT */

    .payment-board {
        display: flex;
        float: left;
        flex-direction: column;
        align-items: center;
        margin-left: 53px;
        margin-top: -74px;
    }

    .bg-payment-white {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 17px 22px 16px;
        border-radius: 5% 5% 0 0;
        background-color: #fff;
    }

    .payment-to {
        display: flex;
        font-size: 6px;
        font-weight: 500;
        line-height: 9px;
        letter-spacing: .08em;
        color: #A0AEC0;
    }

    .payment-logo {
        display: table;
        width: 74px;
        height: 18px;
        margin-top: 6px;
    }

    .bg-payment-rose {
        display: flex;
        font-size: 22px;
        font-weight: 700;
        line-height: 30px;
        padding: 18px 28px 10px 30px;
        background-color: #EBBCAD;
        border-radius: 0 0 5% 5%;
    }

    .icon-v-payment {
        display: flex;
        margin-top: -69px;
    }
    
    .icon-v-md {
        display: flex;
        width: 22px;
        height: 22px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 0.5px solid #F3D6CD;
        background-color: #FFF;
    }

    .icon-v-md img {
        width: 4px;
    }

    .icon-v-rose {
        display: flex;
        width: 14px;
        height: 14px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid #F3D6CD;
        background-color: #fff;
    }

    .icon-v-rose img {
        width: 5px;
        height: 5px;
    }

     /* SOCIAL PROOF */

     .social-proof {
        margin-top: 160px;
     }

     .social-container {
        display: flex;
        width: 335px;
        height: 112px;
        flex-direction: column;
        align-items: center;
    }

    .social-title {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 24px;
        color: #797B89;
        letter-spacing: -0.09px;
    }

    .partners-wrapper-mobile {
        display: flex;
        flex-direction: column;
    }

    .partners-line {
        display: flex;
        justify-content: space-evenly;
    }
    
    .partners-line img {
        height: 17px;
    }

    .line-1 {
        margin-bottom: 25px;
    }

    .stripe {
        width: 42px;
    }

    .orfium {
        width: 90px;
        margin: 0 55px 0 55px;
    }

    .kinsta {
        width: 88px;
    }

    .nowports {
        width: 103px;
    }

    .bankable {
        width: 79px;
    }

}

    /* FEATURES SECTION 1 */
    .features-1 {
        background-color: #FFF;
        margin-top: 60px;
    }

    .features-wrapper {
        margin-top: 50px;
    }

    .features-cards-wrapper {
        display: flex;
        margin-bottom: 64px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .features-title h2{
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        letter-spacing: -1.824px;
        margin-bottom: 52px;
    }

    .card-features {
        width: 335px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 28px;
        padding-top: 40px;
        padding-bottom: 40px;
        box-shadow: 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01), 0px 99.3206px 174.804px rgba(68, 55, 0, 0.02), 0px 45.6875px 80.4497px rgba(68, 55, 0, 0.01), 0px 25.8233px 45.6875px rgba(68, 55, 0, 0.01), 0px 15.8913px 27.8098px rgba(68, 55, 0, 0.01), 0px 8.93885px 16.8845px rgba(68, 55, 0, 0.01), 0px 5.95923px 8.93885px rgba(68, 55, 0, 0.01), 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01);
        border-radius: 24px;
    }

    .card-features h3 {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
    }
    
    .features-text {
        width: 277px;
        text-align: center;
    }

    .features-text p {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 15.8913px;
        line-height: 27px;
        text-align: center;
        letter-spacing: -0.0893885px;
    }

    .features-versatiles h3{
        margin-bottom: 21px;
    }

    .features-versatiles img {
        margin-top: 3px;
    }

    .features-accepted img {
        margin: 27px;
    }
    
    .features-easy img {
        margin-top: 7px;
        margin-bottom: 13px;
    }

    .features-customer img {
        margin: 16px;
    }

    .features-spend img {
        margin-top: 85px;
    }

    /* FEATURES 2 */

    .features-2 {
        background-color: #FFF;
    }
    .features-2-wrapper {
        width: 335px;
        height: 775px;
        display: flex;
        align-items: center;
        margin-bottom: 64px;
        padding: 50px 20px 0 20px;
        flex-direction: column;
        background-color: #FAF8F5;
        border-radius: 25.6px;
        overflow: hidden;
    }

    .features-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .features-2-title {
        width: 295px;
        height: 64px;
    }

    .features-2-title h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }

    .features-2-text {
        width: 295px;
        height: 180px;
        margin-top: 24px;
        margin-bottom: 32px;
    }

    .features-2-text p {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
    }

    .btn-wrapper {
        align-self: flex-start;
    }

    .features-btn {
        display: block;
        width: 150px;
        height: 50px;
        padding: 13px 22px;
        border: none;
        border-radius: 50px;
        background-color: #0f0f14;
        color: #fff;
        font-size: 17px;
        font-weight: 400;
    }

    .btn img {
        width: 8px;
        height: 12px;
        margin-left: 10px;
    }

    .features-2-right {
        height: 428.82px;
        top: 14.99px;
        display: flex;
        flex-direction: column;
    }

    .features-card-line {
        display: flex;
        width: 335px;
    }

    .features-2-right img {
        width: 171.38px;
        height: 99.59px;
    }

    .card-features-01 {
        margin-left: 0px;
        margin-top: 161.88px;
    }

    .card-features-02 {
        margin-left: -35px;
        margin-top: 85px;
    }

    .card-features-03 {
        margin-left: -35px;
        margin-top: 13px;
    }

    .card-features-05 {
        margin-left: -45px;
        margin-top: -75px;
    }

    .card-features-06 {
        margin-left: -50px;
        margin-top: -155px;
    }

    .footer-wrapper {
        width: 100%;
        padding: 40px 20px;
    }

    
/* ---------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1400px){
    .mobile {
        display: none;
    }

     /* HEADER */
    header {
        height: 80px;
    }

    .topbar {
        width: 1280px;
        height: 44px;
        left: 80px;
        top: 18px;
    }

    .logo-cadena {
        width: 133px;
        height: 32px;
        margin-right: 40px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .menu a {
        display: block;
        margin-right: 32px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: #1B1C20;
        text-decoration: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navigation a {
        display: block;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }

    .btn {
        display: block;
        width: 96px;
        height: 44px;
        margin: 0 30px;
        padding: 10px 18px;
        border: none;
        border-radius: 8px;
        background-color: #0f0f14;
        color: #fff;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }

    /* HERO */
    .hero {
        width: 1440px;
        align-items: center;
        justify-content: center;
    }

    .container {
        width: 1280px;
        display: flex;
        flex-direction: row;
        margin: 0px;
    }

    /* CONTENT */

        /* LEFT */
    .hero-content-wrapper {
        margin-top: 246px;
        margin-left: 0px;
    }

    .hero-badge-headding-deskotp {
        display: table;
        font-size: 44px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: -0.02em;
        margin: 16px 0px;
    }

    .hero-heading-body-desktop {
        display: block;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 8px;
        color: #383A47;
    }

    .buttons-wrapper {
        display: flex;
        justify-content: flex-start;
        margin-top: 32px;
    }

    .btn-store {
        width: 178px;
        height: 60px;
        border-radius: 12.5px;
    }

    .btn-app {
        margin-right: 15px;
    }

    .btn-app img{
        width: 133.5px;
        height: 30px;
    }

    .btn-play img{
        width: 148px;
        height: 30px;
    }


    /* RIGHT */
 
    .hero-images-wrapper {
        display: block;
        margin-top: 114px;
        margin-right: 0px;
        width: 604px;
    }

    /* VISA BOARD */

    .visa-wrapper {
        display: block;
        float: right;
        margin-right: 62px;
        margin-bottom: 110px;
    }

    .visa-content {
        display: flex;
        width: 343px;
        height: 80px;
        justify-content:space-evenly;
        border-radius: 10px;
    }

    .visa-card-image img{
        width: 30px;
        height: 18px;
        margin-right: 15px;
    }

    .visa-card-content {
        display: flex;
        flex-direction: column;
    }

    .visa-name {
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
    }

    .visa-master {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }

    .visa-balance {
        display: block;
        font-size: 16px;
        line-height: 20px;
    }

    .icon-v-visa {
        width: 18px;
        height: 18px;
        padding: 6px 5px;
        margin-top: -6px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        background-color: #712FFF;
    }

    .icon-v-visa img {
        width: 8px;
        height: 6px;
    }

    /* SPLIT CARD */
    .split-card {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        float: right;
        margin-top: 0;
    }

    /* SPLIT */

    .split-wrapper {
        display: table;
        width: 547px;
        height: 350px;
        float: right;
        margin: 0;
    }

    .split-content {
        width: 249px;
        height: 305px;
        float: right;
        margin-top: 7px;
        margin-right: 0px;
    }

    .split-heading p {
        font-size: 14.5px;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 6px;
    }

    .rectangle {
        height: 6px;
        border-radius: 6px;
    }

    .rec-sm {
        width: 40px;
        margin-top: 5px;
    }

    .rec-md {
        width: 47px;
        margin-top: 5px;
    }

    .rec-lg {
        width: 80px;
        margin-left: 11px;
    }

    .rec-xl {
        width: 106px;
    }

    .avatars-wrapper-horizontal {
        margin-top: 18px;
    }

    .avatar-container-horizontal {
        margin-right: 12px;
    }

    .avatar-horizontal img{
        width: 28px;
        height: 28px;
    }

    .avatar-icon-x {
        width: 11px;
        height: 11px;
        margin-top: -3px;
        margin-left: -5px;
        border: 1px solid #fff;
        border-radius: 50%;
    }

    .avatar-icon-x img {
        width: 5px;
        height: 5px;
    }

    .avatar-vector {
        margin-top: -20px;
        margin-left: -12px;
    }

    .avatar-vector-1 {
        margin-top: 5px;
    }

    .avatar-vector-1 img {
        width: 2.24px;
        height: 15.7px;
    }

    .avatar-vector-2 {
        margin-top: 5px;
    }

    .avatar-vector-2 img {
        width: 7.85px;
        height: 15.14px;
    }

    .avatar-vector-3 {
        margin-top: 10px;
        margin-left: -5px;
    }

    .avatar-vector-3 img {
        width: 15.14px;
        height: 15.7px;
    }

    .frequents {
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 10px;
        font-weight: 500;
        line-height: 14px;
    }

    .avatars-wrapper-vertical {
        margin-right: 30px;
        border: 0.5px solid #E5E7EB;
        border-radius: 11px;

    }

    .avatar-vertical {
        margin-top: 11px;
    }

    .avatar-vertical img {
        width: 24px;
        height: 24px;
    }

    .avatar-icon-v {
        width: 11px;
        height: 11px;
        margin: 11px;
        padding-top: 3.3px;
        padding-left: 3.3px;
    }

    .avatar-icon-v > img {
        width: 4px;
        height: 4px;
    }

    .avatar-icon-null {
        display: flex;
        width: 11px;
        height: 11px;
        margin: 11px;
        padding-top: 0px;
        padding-left: 0px;
    }

    /* SPOTIFY */

    .spotify-board {
        width: 158px;
        height: 46px;
        margin-top: -145px;
        margin-right: 10px;
        align-items: center;
        border-radius: 11px;
    }

    .spotify-left {
        margin-left: 11px;
    }

    .spotify-left img {
        width: 21px;
        height: 21px;
    }

    .spotify-left p {
        margin-left: 7px;
        font-size: 10px;
        line-height: 14px;
    }

    .spotify-right {
        margin-left: 52px;
        margin-right: 11px;
    }

    .spotify-right p {
        font-size: 10px;
        line-height: 14px;
    }

    /* SPLIT VECTOR */

    .split-vector {
        margin-right: 25px;
        margin-top: -25px;
    }

    .split-vector img {
        width: 25px;
        height: 40px;
    }

    /* CARD */

    .card-image-wrapper {
        display: flex;
        width: 313px;
        margin-right: -300px;
        margin-top: -80px;
    }

    .icon-v-wrapprer {
        align-self: flex-start;
        margin-left: 255px;
        margin-bottom: -15px;
    }

    .icon-v-lg {
        width: 56px;
        height: 56px;
    }

    .icon-v-sm {
        width: 35px;
        height: 35px;
        border: 2px solid #fff;
    }

    .icon-v-sm img {
        width: 11px;
        height: 8px;
    }

    .card-card {
        display: block;
    }

    .card-card img {
        width: 290px;
        height: 182px;
    }

    /* PAYMENT */

    .payment-board {
        float: right;
        margin-right: 300px;
        margin-top: -134px;
    }

    .bg-payment-white {
        padding: 28px 31px 41px 31px;
        border-radius: 5% 5% 0 0;
    }

    .payment-to {
        font-size: 12px;
        line-height: 16px;
    }

    .payment-logo {
        width: 133px;
        height: 32px;
        margin-top: 12px;
    }

    .bg-payment-rose {
        font-size: 40px;
        line-height: 54px;
        padding: 34px 51px 18px 51px;
    }

    .icon-v-payment {
        margin-top: -125px;
    }

    .icon-v-md {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #F3D6CD;
    }

    .icon-v-rose {
        width: 26px;
        height: 26px;
        border: 2px solid #F3D6CD;
    }

    .icon-v-rose img {
        width: 8px;
        height: 8px;
    }

    /* SOCIAL PROOF */

    .social-proof {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 296px;
    }

    .social-container{
        width: 1280px;
        height: 83px;
        margin: 0;
    }

    .social-title {
        margin-bottom: 31px;
    }

    .partners-wrapper-desktop {
        display: block;
        flex-direction: row;
    }

    .partners-line {
        display: flex;
        width: 1280px;
        justify-content: space-between;
    }
    
    .partners-line img {
        height: 31px;
    }

    .stripe {
        width: 74px;
    }

    .orfium {
        width: 131px;
        margin: 0px;
    }

    .kinsta {
        width: 88px;
    }

    .nowports {
        width: 149px;
    }

    .bankable {
        width: 133px;
    }

    /* FEATURES SECTION 1 */
    .features-1 {
        background-color: #FFF;
        margin-top: 50px;
    }

    .features-wrapper {
        width: 1280px;
        margin-top: 52px;
    }

    .features-cards-wrapper {
        display: flex;
        height: 660px;
        margin-bottom: 96px;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }

    .features-title h2 {
        font-size: 43px;
        font-weight: 500;
        line-height: 58px;
    }
    
    .card-features {
        margin-right: 28px;
        height: 316px;
    }

    .desktop {
        display: flex;
    }

    .features-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-line {
        display: flex;
    }

    .features-rigth-desktop {
        height: 660px;
        margin: 0;
        margin-top: -5px;
        padding: 0;
        padding-top: 39px;
    }

    .card-features {
        width: 408px;
        margin-top: 0px;
    }

    .features-versatiles img {
        width: 131px;
        height: 131px;
    }

    .features-accepted img {
        width: 103.24px;
        height: 65.55px;
    }
    
    .features-easy img {
        width: 100px;
        height: 100px;
    }

    .features-customer img {
        width: 174px;
        height: 90px;
    }

    .features-spend h3 {
        margin-bottom: 21px;
    }

    .features-spend img {
        width: 300px;
        height: 300px;
        margin-bottom: 125px;
    }

        /* FEATURES 2 */

        .features-2-wrapper {
            width: 1280px;
            height: 670px;
            display: flex;
            align-items: center;
            margin-bottom: 96px;
            padding: 108px 0 0 31px;
            flex-direction: row;
            /*justify-content: space-between;*/
        }

        .features-left {
            align-items: flex-start;
        }
    
        .features-2-title {
            width: 432px;
            height: 116px;
        }
    
        .features-2-title h2 {
            font-size: 43px;
            line-height: 58px;
        }
    
        .features-2-text {
            width: 478px;
            height: 120px;
            margin-bottom: 122px;
        }
    
        .features-2-text p {
            font-size: 20px;
        }
    
        .features-btn {
            align-self: flex-start;
        }
    
        .features-btn {
            display: block;
            width: 163px;
            height: 56px;
            margin: 0px;
            padding: 15px 28px;
            border-radius: 50px;
            font-size: 17px;
            font-weight: 400;
        }
    
        .features-btn img {
            width: 8px;
            height: 12px;
            margin-left: 15px;
        }
    
        .features-2-right {
            height: 428.82px;
            top: 14.99px;
            display: flex;
            flex-direction: column;
        }
    
        .features-card-line {
            display: flex;
            width: 335px;
        }
    
        .features-2-right img {
            width: 315px;
            height: 182px;
        }

        .line-up {
            margin-left: 30px;
            margin-top: -5px;
        }
    
        .card-features-01 {
            margin-left: -90px;
            margin-top: 300px;
        }
    
        .card-features-02 {
            margin-left: -100px;
            margin-top: 170px;
        }
    
        .card-features-03 {
            margin-left: -90px;
            margin-top: 40px;
        }

        .card-features-04 {
            margin-left: -20px;
            margin-top: -100px;
        }
    
        .card-features-05 {
            margin-left: -90px;
            margin-top: -170px;
        }
    
        .card-features-06 {
            margin-left: -100px;
            margin-top: -300px;
        }
}